* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: url(./src/background.jpg) no-repeat center center;
    background-size: cover;
    background-color: cover;
    font-size: 62.5%;
}